/* Basic editor styles */
.tiptap{
  
}
.button-group,.editor{
  border: 2px solid black;
  padding: 0.3rem;
  border-radius: 0.3rem;
}
.button-group{
  display: flex;
  gap: 10px;
  width: fit-content;
}

.editor{
  margin: 10px 0 0 0;
  :focus-visible{
    outline: none;
  }

}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  border-radius: 0.3rem;
  background-color: transparent;
}

#saveBtn{
  @extend button;
  padding: 0.5rem;
  border: none;
  color: white;
  background-color: black;
  margin: 0.5rem 0 0 0;
}

#colorBtn{
  padding: 0.7rem;
  background-color: purple;
  border-radius: 100%;
}
.is-active{
  border: 2px solid black;
}