$red: #F98181;
$green: #4fd6be;
$purple: #bb9af7;

.blockQuote{
  border-left: 4px solid black;
  padding-left: 1rem;
}

.button-group,.editor{
  border: 2px solid black;
  padding: 0.3rem;
  border-radius: 0.3rem;
}
.button-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  width: fit-content;
}

.nested-btn-group{
  @extend .button-group;
  border: 0 3px 0 3px;
  // background-color: #d1d5db;
}
.editor{
  margin: 10px 0 0 0;
  :focus-visible{
    outline: none;
  }

}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  border-radius: 0.4rem;
  height: 2em;
  img{
    width: 18px;
  }
}

#saveBtn{
  @extend button;
  width: 8%;
  font-weight: bold;
  padding: 0.5rem;
  border: none;
  color: white;
  background-color: black;
  margin: 0.5rem 0 0 0;
}

.colorBtn{
  padding: 0.7rem;
  border-radius: 90%;
  &-red{
    @extend .colorBtn;
    background-color: $red;
  }
  &-green{
    @extend .colorBtn;
    background-color: $green;
  }
  &-purple{
    @extend .colorBtn;
    background-color: $purple;
  }
  .is-active{
    border: 2px solid black;
  }
}

.is-active{
  border: 2px solid black;
}

.outText{
  color: gray;
  text-align: center;
}

.container{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  .leftPanel{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: 4px solid black;
    padding: 1rem;
    .leftHeading{
      color: $green;
    }
    div{
      width: 100%;
      padding: 1rem;
    }
  }
}

.Tiptap{
  display: flex;
  flex-direction: column;
  width: 60%;
}